In [9]:
import pandas as pd

data = pd.read_excel('data1.xlsx')

data.head()

,Countries,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aceh,40292,36724,34078.0,40921,50254.0,51519.0,49271.0,51696.0,50526.90,50541.0,45999,53393
1,Sumatera Utara,8143,6551,8091.0,8664,8690.0,4547.0,4791.0,4665.0,4499.20,4499.0,5177,6499
2,Sumatera Barat,7,8,11.0,12374,13000.0,17.0,17.0,13.0,13.49,13.0,19,17
3,Riau,1929,1413,1637.0,2917,789.0,1624.0,964.0,525.0,428.90,498.0,587,1572
4,Jambi,1460,1297,1186.0,1199,1499.0,1499.0,1487.0,29836.0,324.00,324.0,405,405

In [10]:
data.replace("-", float("nan"), inplace=True)

# Drop rows with NaN values
data.dropna(inplace=True)

# Reset the index
data.reset_index(drop=True, inplace=True)

data

,Countries,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aceh,40292.0,36724.0,34078.0,40921.0,50254.0,51519.0,49271.0,51696.0,50526.9000,50541.0,45999,53393
1,Sumatera Utara,8143.0,6551.0,8091.0,8664.0,8690.0,4547.0,4791.0,4665.0,4499.2000,4499.0,5177,6499
2,Sumatera Barat,7.0,8.0,11.0,12374.0,13000.0,17.0,17.0,13.0,13.4900,13.0,19,17
3,Riau,1929.0,1413.0,1637.0,2917.0,789.0,1624.0,964.0,525.0,428.9000,498.0,587,1572
4,Jambi,1460.0,1297.0,1186.0,1199.0,1499.0,1499.0,1487.0,29836.0,324.0000,324.0,405,405
5,Sumatera Selatan,23000.0,22341.0,28903.0,29912.0,47185.0,33151.0,29836.0,320.0,29838.0000,30667.0,26073,30667
6,Bengkulu,465.0,372.0,395.0,465.0,396.0,339.0,348.0,219.0,321.5000,339.0,335,390
7,Lampung,50181.0,19850.0,21601.0,36498.0,35304.0,35158.0,37963.0,53.0,38062.7600,37985.0,37912,38802
8,Kepulauan Bangka Belitung,186.0,102.0,129.0,165.0,226.0,142.0,214.0,23819.0,147.0000,147.0,132,139
9,DKI Jakarta,207.0,150.0,296.0,335.0,339.0,487.0,487.0,487.0,363.5000,364.0,487,387
10,Jawa Barat,44353.0,45939.0,53637.0,51829.0,54465.0,64133.0,65326.0,10125.0,64996.7900,64265.0,57735,57735
11,Jawa Tengah,38911.0,26807.0,32677.0,43415.0,39822.0,38815.0,39025.0,23.0,30227.4400,45025.0,41117,47464
12,DI Yogyakarta,50.0,120.0,35.0,40.0,69.0,13.0,14.0,59154.0,66.2100,4915.0,149,112
13,Jawa Timur,60951.0,48655.0,51609.0,57512.0,50229.0,60649.0,59577.0,64815.0,51287.0000,51195.0,51778,51778
14,Banten,10455.0,6186.0,8644.0,23357.0,11125.0,9119.0,8710.0,41712.0,10358.1300,10358.0,10399,10351
15,Bali,564.0,392.0,443.0,273.0,291.0,290.0,532.0,263.0,282.2000,209.0,199,199
16,Nusa Tenggara Barat,6584.0,5555.0,6477.0,6096.0,7629.0,6987.0,7154.0,6772.0,7357.2300,7495.0,7617,8133
17,Nusa Tenggara Timur,1779.0,3807.0,5110.0,4008.0,998.0,1238.0,1249.0,1311.0,1138.1700,1149.0,1010,977
18,Kalimantan Barat,12263.0,4384.0,7312.0,10215.0,17532.0,18839.0,18839.0,18839.0,19559.0000,19147.0,10516,8608
19,Kalimantan Tengah,1872.0,23802.0,804.0,6369.0,1279.0,3415.0,4780.0,5217.0,5142.0000,5977.0,6156,6276
20,Kalimantan Selatan,8351.0,8258.0,9397.0,13174.0,14210.0,13724.0,14758.0,14758.0,16714.0000,17032.0,17032,17032
21,Kalimantan Timur,49720.0,96611.0,51967.0,103625.0,180068.0,175345.0,249176.0,169298.0,163182.0000,153833.0,113053,22566
22,Sulawesi Utara,61.0,41.0,71.0,120.0,135.0,202.0,190.0,66.0,298.8200,299.0,299,299
23,Sulawesi Tengah,10403.0,8272.0,10373.0,10384.0,11398.0,9280.0,9299.0,12505.0,8040.0000,8586.0,8263,8290
24,Sulawesi Selatan,106593.0,87455.0,93959.0,103097.0,101952.0,105859.0,107312.0,19628.0,107556.5000,109832.0,109561,111039
25,Sulawesi Tenggara,25135.0,12712.0,12260.0,15424.0,15589.0,22226.0,20551.0,106842.0,20284.9000,19783.0,23795,24370
26,Gorontalo,2093.0,1576.0,302.0,1484.0,3572.0,3511.0,4535.0,8283.0,4975.0000,7645.0,7801,7906
27,Maluku,2365.0,724.0,726.0,1135.0,1135.0,8190.0,275.0,400.0,395.8500,226.0,477,406
28,Maluku Utara,3553.0,76.0,259.0,3253.0,51.0,37.0,34.0,109.0,53.3000,64.0,43,121
29,Papua,598.0,2840.0,885.0,494.0,776.0,606.0,589.0,98.0,601.0000,764.0,761,761
30,Indonesia,512524.0,486982.0,452901.0,613175.0,682725.0,682857.0,749220.0,657346.0,650509.3084,667083.0,715846,674135

In [11]:
# Transpose the dataframe
data_transposed = data.transpose()

# Reset the index
data_transposed.reset_index(drop=True, inplace=True)

# Update the column names with the transposed row values
data_transposed.columns = data_transposed.iloc[0]
data_transposed = data_transposed[1:]

# Reset the index again
data_transposed.reset_index(drop=True, inplace=True)

data_transposed

,Aceh,Sumatera Utara,Sumatera Barat,Riau,Jambi,Sumatera Selatan,Bengkulu,Lampung,Kepulauan Bangka Belitung,DKI Jakarta,...,Kalimantan Timur,Sulawesi Utara,Sulawesi Tengah,Sulawesi Selatan,Sulawesi Tenggara,Gorontalo,Maluku,Maluku Utara,Papua,Indonesia
0,40292.0,8143.0,7.0,1929.0,1460.0,23000.0,465.0,50181.0,186.0,207.0,...,49720.0,61.0,10403.0,106593.0,25135.0,2093.0,2365.0,3553.0,598.0,512524.0
1,36724.0,6551.0,8.0,1413.0,1297.0,22341.0,372.0,19850.0,102.0,150.0,...,96611.0,41.0,8272.0,87455.0,12712.0,1576.0,724.0,76.0,2840.0,486982.0
2,34078.0,8091.0,11.0,1637.0,1186.0,28903.0,395.0,21601.0,129.0,296.0,...,51967.0,71.0,10373.0,93959.0,12260.0,302.0,726.0,259.0,885.0,452901.0
3,40921.0,8664.0,12374.0,2917.0,1199.0,29912.0,465.0,36498.0,165.0,335.0,...,103625.0,120.0,10384.0,103097.0,15424.0,1484.0,1135.0,3253.0,494.0,613175.0
4,50254.0,8690.0,13000.0,789.0,1499.0,47185.0,396.0,35304.0,226.0,339.0,...,180068.0,135.0,11398.0,101952.0,15589.0,3572.0,1135.0,51.0,776.0,682725.0
5,51519.0,4547.0,17.0,1624.0,1499.0,33151.0,339.0,35158.0,142.0,487.0,...,175345.0,202.0,9280.0,105859.0,22226.0,3511.0,8190.0,37.0,606.0,682857.0
6,49271.0,4791.0,17.0,964.0,1487.0,29836.0,348.0,37963.0,214.0,487.0,...,249176.0,190.0,9299.0,107312.0,20551.0,4535.0,275.0,34.0,589.0,749220.0
7,51696.0,4665.0,13.0,525.0,29836.0,320.0,219.0,53.0,23819.0,487.0,...,169298.0,66.0,12505.0,19628.0,106842.0,8283.0,400.0,109.0,98.0,657346.0
8,50526.9,4499.2,13.49,428.9,324.0,29838.0,321.5,38062.76,147.0,363.5,...,163182.0,298.82,8040.0,107556.5,20284.9,4975.0,395.85,53.3,601.0,650509.3084
9,50541.0,4499.0,13.0,498.0,324.0,30667.0,339.0,37985.0,147.0,364.0,...,153833.0,299.0,8586.0,109832.0,19783.0,7645.0,226.0,64.0,764.0,667083.0
10,45999,5177,19,587,405,26073,335,37912,132,487,...,113053,299,8263,109561,23795,7801,477,43,761,715846
11,53393,6499,17,1572,405,30667,390,38802,139,387,...,22566,299,8290,111039,24370,7906,406,121,761,674135

In [12]:
data_transposed['Indonesia']

0        512524.0
1        486982.0
2        452901.0
3        613175.0
4        682725.0
5        682857.0
6        749220.0
7        657346.0
8     650509.3084
9        667083.0
10         715846
11         674135
Name: Indonesia, dtype: object

In [63]:
import pandas as pd
import numpy as np
from statsmodels.tsa.statespace.sarimax import SARIMAX

# Create the DataFrame with the provided data
data = pd.DataFrame({
    'Year': [2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018],
    'Pond Area': [512524.0, 486982.0, 452901.0, 613175.0, 682725.0, 682857.0, 749220.0, 657346.0, 650509.3084, 667083.0, 715846, 674135, 700000, 720000],
    'Gini Index': [0.36, 0.37, 0.38, 0.39, 0.4, 0.41, 0.42, 0.43, 0.44, 0.45, 0.46, 0.47, 0.48, 0.49],
    'Total Population': [220000000, 225000000, 230000000, 235000000, 240000000, 245000000, 250000000, 255000000, 260000000, 265000000, 270000000, 275000000, 280000000, 285000000],
    'Population Wealth': [500000000000, 550000000000, 600000000000, 650000000000, 700000000000, 750000000000, 800000000000, 850000000000, 900000000000, 950000000000, 1000000000000, 1050000000000, 1100000000000, 1150000000000],
    'Farmer Population': [500000, 550000, 600000, 650000, 700000, 750000, 800000, 850000, 900000, 950000, 1000000, 1050000, 1100000, 1150000],
    'Indonesia Gap per Capita': [100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, np.nan, np.nan]
})

# Drop rows with missing values
data.dropna(subset=['Indonesia Gap per Capita'], inplace=True)

# Convert 'Year' column to datetime format
data['Year'] = pd.to_datetime(data['Year'], format='%Y')

# Set 'Year' column as the index
data.set_index('Year', inplace=True)

# Define the SARIMAX model
model = SARIMAX(data['Pond Area'], order=(1, 1, 1), seasonal_order=(1, 1, 1, 12))

# Fit the model to the data
model_fit = model.fit()

# Forecast the pond area for the next few years
forecast = model_fit.get_forecast(steps=5)  # Adjust the number of steps as needed

# Get the forecasted values and confidence intervals
forecast_values = forecast.predicted_mean
confidence_intervals = forecast.conf_int()

# Create a DataFrame with the forecasted values and confidence intervals
forecast_data = pd.DataFrame({
    'Forecast': forecast_values.values,
    'Lower CI': confidence_intervals['lower Pond Area'].values,
    'Upper CI': confidence_intervals['upper Pond Area'].values
}, index=pd.date_range(start=data.index[-1] + pd.DateOffset(years=1), periods=5, freq='A'))

# Concatenate the original data with the forecasted data
data_forecasted = pd.concat([data, forecast_data])

# Print the DataFrame with the forecasted data
print(data_forecasted)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency AS-JAN will be used.
  self._init_dates(dates, freq)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/tsa/base/tsa_model.py:473: ValueWarning: No frequency information was provided, so inferred frequency AS-JAN will be used.
  self._init_dates(dates, freq)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/tsa/statespace/sarimax.py:866: UserWarning: Too few observations to estimate starting parameters for ARMA and trend. All parameters except for variances will be set to zeros.
  warn('Too few observations to estimate starting parameters%s.'
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/statsmodels/tsa/statespace/sarimax.py:866: UserWarning: Too few observations to estimate starting parameters for seasonal ARMA. All parameters except for variances will be set to zeros.
  warn('Too few observations to estimate starting parameters%s.'

RUNNING THE L-BFGS-B CODE

           * * *

Machine precision = 2.220D-16
 N =            5     M =           10

At X0         0 variables are exactly at the bounds

At iterate    0    f= -0.00000D+00    |proj g|=  0.00000D+00

           * * *

Tit   = total number of iterations
Tnf   = total number of function evaluations
Tnint = total number of segments explored during Cauchy searches
Skip  = number of BFGS updates skipped
Nact  = number of active bounds at final generalized Cauchy point
Projg = norm of the final projected gradient
F     = final function value

           * * *

   N    Tit     Tnf  Tnint  Skip  Nact     Projg        F
    5      0      1      0     0     0   0.000D+00  -0.000D+00
  F =  -0.0000000000000000

CONVERGENCE: NORM_OF_PROJECTED_GRADIENT_<=_PGTOL

 This problem is unconstrained.

              Pond Area  Gini Index  Total Population  Population Wealth  \
2005-01-01  512524.0000        0.36       220000000.0       5.000000e+11
2006-01-01  486982.0000        0.37       225000000.0       5.500000e+11
2007-01-01  452901.0000        0.38       230000000.0       6.000000e+11
2008-01-01  613175.0000        0.39       235000000.0       6.500000e+11
2009-01-01  682725.0000        0.40       240000000.0       7.000000e+11
2010-01-01  682857.0000        0.41       245000000.0       7.500000e+11
2011-01-01  749220.0000        0.42       250000000.0       8.000000e+11
2012-01-01  657346.0000        0.43       255000000.0       8.500000e+11
2013-01-01  650509.3084        0.44       260000000.0       9.000000e+11
2014-01-01  667083.0000        0.45       265000000.0       9.500000e+11
2015-01-01  715846.0000        0.46       270000000.0       1.000000e+12
2016-01-01  674135.0000        0.47       275000000.0       1.050000e+12
2017-12-31          NaN         NaN               NaN                NaN
2018-12-31          NaN         NaN               NaN                NaN
2019-12-31          NaN         NaN               NaN                NaN
2020-12-31          NaN         NaN               NaN                NaN
2021-12-31          NaN         NaN               NaN                NaN

            Farmer Population  Indonesia Gap per Capita      Forecast  \
2005-01-01           500000.0                     100.0           NaN
2006-01-01           550000.0                     110.0           NaN
2007-01-01           600000.0                     120.0           NaN
2008-01-01           650000.0                     130.0           NaN
2009-01-01           700000.0                     140.0           NaN
2010-01-01           750000.0                     150.0           NaN
2011-01-01           800000.0                     160.0           NaN
2012-01-01           850000.0                     170.0           NaN
2013-01-01           900000.0                     180.0           NaN
2014-01-01           950000.0                     190.0           NaN
2015-01-01          1000000.0                     200.0           NaN
2016-01-01          1050000.0                     210.0           NaN
2017-12-31                NaN                       NaN  9.303971e+05
2018-12-31                NaN                       NaN  9.048551e+05
2019-12-31                NaN                       NaN  8.707741e+05
2020-12-31                NaN                       NaN  1.031048e+06
2021-12-31                NaN                       NaN  1.100598e+06

                Lower CI      Upper CI
2005-01-01           NaN           NaN
2006-01-01           NaN           NaN
2007-01-01           NaN           NaN
2008-01-01           NaN           NaN
2009-01-01           NaN           NaN
2010-01-01           NaN           NaN
2011-01-01           NaN           NaN
2012-01-01           NaN           NaN
2013-01-01           NaN           NaN
2014-01-01           NaN           NaN
2015-01-01           NaN           NaN
2016-01-01           NaN           NaN
2017-12-31  9.290112e+05  9.317830e+05
2018-12-31  9.034692e+05  9.062410e+05
2019-12-31  8.693882e+05  8.721600e+05
2020-12-31  1.029662e+06  1.032434e+06
2021-12-31  1.099212e+06  1.101984e+06

In [11]:
import pandas as pd

indo_data = pd.read_excel("indo_data.xlsx")

indo_data

,Year,Area (Hectares),GDP (Billion),Population (Million),Rural Pop (%),Gini Index,Arable Land (Hectares)
0,2005,512524,285.9,228.8,54,34.1,22946000
1,2006,486982,364.6,231.8,53,35.3,21500000
2,2007,452901,432.2,234.9,52,36.7,22000000
3,2008,613175,510.2,237.8,52,36.1,22700000
4,2009,682725,539.6,241.0,51,36.0,23600000
5,2010,682857,755.1,244.0,50,37.2,23600000
6,2011,749220,893.0,247.1,49,40.5,23500000
7,2012,657346,917.9,250.8,49,40.5,23500000
8,2013,650509,912.5,253.3,48,40.8,23500000
9,2014,667083,890.8,256.2,47,40.2,23800000
10,2015,715846,860.9,259.1,47,40.4,23800000
11,2016,674135,931.9,261.9,46,39.3,25200000

In [12]:
from sklearn.decomposition import PCA

X = indo_data.drop('Area (Hectares)', axis=1)
y = indo_data['Area (Hectares)']

pca = PCA(n_components=3)
X_pca = pca.fit_transform(X)

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=42)

In [14]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score, classification_report

# Feature Scaling
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_pca)

# Split the scaled data into train and test sets
X_train_scaled, X_test_scaled, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

# Train the SVR model on the scaled data
svr = SVR()
svr.fit(X_train_scaled, y_train)

# Make predictions on the test set
y_pred = svr.predict(X_test_scaled)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("R^2 Score:", r2)

Mean Squared Error: 8163526040.412402
R^2 Score: -0.08676110088702593

In [15]:
# Define the parameter grid for grid search
param_grid = {
    'C': [0.1, 1, 10],
    'gamma': ['scale', 'auto'],
    'kernel': ['linear', 'poly', 'rbf', 'sigmoid']
}

# Perform grid search to find the best hyperparameters
grid_search = GridSearchCV(svr, param_grid, cv=5)
grid_search.fit(X_train_scaled, y_train)

# Get the best hyperparameters and model
best_params = grid_search.best_params_
best_model = grid_search.best_estimator_

print("Best Hyperparameters:", best_params)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_regression.py:996: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

Best Hyperparameters: {'C': 0.1, 'gamma': 'scale', 'kernel': 'linear'}

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/model_selection/_search.py:976: UserWarning: One or more of the test scores are non-finite: [nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan nan
 nan nan nan nan nan nan]
  warnings.warn(

In [16]:
# Generate predictions using the best model
y_pred = best_model.predict(X_test_scaled)

# Convert predictions to binary labels (0 or 1)
y_pred_binary = [1 if pred > 0 else 0 for pred in y_pred]

# Generate a classification report
classification_rep = classification_report(y_test, y_pred_binary)

print("Classification Report:")
print(classification_rep)

Classification Report:
              precision    recall  f1-score   support

           1       0.00      0.00      0.00       0.0
      512524       0.00      0.00      0.00       1.0
      667083       0.00      0.00      0.00       1.0
      715846       0.00      0.00      0.00       1.0

    accuracy                           0.00       3.0
   macro avg       0.00      0.00      0.00       3.0
weighted avg       0.00      0.00      0.00       3.0

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/metrics/_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [17]:
print(y_pred)

[657345.31188213 657345.7057609  657346.22614872]